tr {
	padding-top: 10px;
	padding-bottom: 10px;
}

td {
	padding-top: 10px;
	padding-bottom: 10px;
}

#SubmitButton1 {
	margin-top: 20px;
}

.form-spacing {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.warning {
	width: 50%;
	padding: 1em;
}

p.warning {
	font-weight: bold;
	font-size: 2em;
}

.ep-border {
	border: 1px solid white;
}

.ep-info {
	padding: 0.5em 2em;
}

.match-info {
	padding: 0em 2em;
}
