{% load static %}
<!DOCTYPE html>

<html>

	<head>

		<title>
				{{ page_title }}
		</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!-- Using this to address issues with 500 errors from icon requests -->
		<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
		<link rel="stylesheet" type="text/css" href="https://arcanedomain.duckdns.org/WebpageStyle.css">
		<link rel="stylesheet" type="text/css" href="{% static "tv_api.css" %}">

		<style>
			.w3-row-padding img {margin-bottom: 12px}

			/* Set the width of the sidebar to 120px */
			.w3-sidebar {width: 100px;background: #222;}

			/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
			#main {margin-left: 120px}

			/* Remove margins from "page content" on small screens */
			@media only screen and (max-width: 600px) {#main {margin-left: 0}}

		</style>

	</head>

	<body class="w3-black">

		<div class="w3-container">

			<!-- This is just the first line the visitor sees on the page -->
			<h1>
				{% if page_header %}
					<!-- If the header should be a link, add the a tag -->
					{% if page_header_link %}
						<a href="{{ page_header_link }}">{{ page_header }}</a>
					{% else %}
						{{ page_header }}
					{% endif %}
				{% else %}
					TITLE_MISSING
				{% endif %}
			</h1>

			<!-- If there's a sub-header, add it too -->
			{% if sub_header_link %}
				<h3>
					<a href="{{ sub_header_link }}">{{ sub_header }}</a>
				</h3>
			{% else %}
				<h3>
					{{ sub_header }}
				</h3>
			{% endif %}

			<!-- This is where information about the current item being looked at is displayed -->
			{% block topic_info %}
			{% endblock %}

			<!-- This is where any warnings are displayed -->
			{% block warning_block %}
			{% endblock %}

			<!-- This is where a table containing data is displayed -->
			{% block content_table %}
			{% endblock %}

			{% block form_table %}
			{% endblock %}

		</div>

	</body>

</html>
