{% extends 'base.html' %}
{% load show_tags %}
{% load static %}

{% block css_links %}
	{% static 'info.css' as css_link %}
	<link rel="stylesheet" type="text/css" href="{{ css_link }}">
{% endblock %}

{% block topic_info %}
	{% if season %}
		<h5>Season: <a href="/tv/{{ show_id }}/season/{{ season }}">{{ season }}</a></h5>
	{% elif seasons %}
		<table style="border: 1px solid white">
			<tr style="border: 1px solid white">
				<th class="ep-border ep-info">Season Number</th>
			</tr>
			{% for season in seasons %}
				<tr class="ep-border">
					<td class="ep-border ep-info"><a href="season/{{ season }}">{{ season }}</a></td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	{% if episodes %}
		<table style="border: 1px solid white">
			<tr style="border: 1px solid white">
				<th class="ep-border ep-info">Episode Number</th>
				<th class="ep-border ep-info">Episode Name</th>
				<th class="ep-border match-info">Match Found?</th>
			</tr>
			{% for episode in episodes %}
				<tr class="ep-border">
					<td class="ep-border ep-info"><a href="episode/{{ episode.ep_num}}">{{ episode.ep_num }}</a></td>
					<td class="ep-border ep-info"><a href="episode/{{ episode.ep_num}}">{{ episode.ep_name }}</a></td>
					{% if episode.match_found %}
						<td class="w3-pale-yellow ep-border match-info">{{ episode.match_found }}</td>
					{% else %}
						<td class="w3-pale-blue ep-border match-info">{{ episode.match_found }}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	{% if search_results %}
	<table style="border: 1px solid white">
		<tr style="border: 1px solid white">
			<th class="ep-border ep-info">Search Result</th>
			<th class="ep-border ep-info">Year</th>
		</tr>
		{% for result in search_results %}
			<tr class="ep-border">
				<td class="ep-border ep-info"><a href="/{{ result.imdb_id }}">{{ result.imdb_name }}</a></td>
				<td class="ep-border ep-info">{{ result.year }}</td>
			</tr>
		{% endfor %}
	</table>
	{% endif %}

	{% if episode %}
		<h5>Episode: {{ episode }}</h5>
	{% elif episode_count %}
		<h5>Episodes: {{ episode_count }}</h5>
	{% endif %}

{% endblock %}

{% block warning_block %}

	{% if match %}
		<div class="warning w3-pale-yellow">
			<p class="warning">Match Found</p>
		</div>
	{% else %}
		<div class="warning w3-pale-blue">
			<p class="warning">No Match Found</p>
		</div>
	{% endif %}

{% endblock %}
