{% extends 'base.html' %}

{% block page_top %}
	{% if episodes %}
		<h5>Episodes: {{ episodes }}</h5>
	{% else %}
		<h5>Episode: {{ episode }}</h5>
	{% endif %}


{% endblock %}

{% block season_info %}
	{% if season %}
		<h5>Season: {{ season }}</h5>
	{% elif seasons %}
		<h5>Seasons: {{ seasons }}</h5>
	{% endif %}
{% endblock %}

{% block episode_info %}

	{% if episode %}
		<h5>Episode: {{ episode }}</h5>
	{% elif episodes %}
		<h5>Episodes: {{ episodes }}</h5>
	{% endif %}

{% endblock %}

{% block warning_block %}

	{% if match_error %}
		<div class="warning w3-pale-red">
			<p class="warning">{{ match_error }}</p>
		</div>
	{% elif warning %}
		<div class="warning w3-pale-yellow">
			<p class="warning">{{ warning }}</p>
		</div>
	{% elif message %}
		<div class="warning w3-pale-blue">
			<p class="warning">{{ message }}</p>
		</div>
	{% endif %}

{% endblock %}

{% block form_table %}
	{% for field in form %}
		<tr>
			<td>{{ field.label_tag }} {{ field }}</td>
		</tr>
	{% empty %}
		<p>none</p>
	{% endfor %}
{% endblock %}
