{% extends 'base.html' %}

{% block page_top %}
	{% if episode_count %}
		<h5>Episodes: {{ episode_count }}</h5>
	{% else %}
		<h5>Episode: {{ episode }}</h5>
	{% endif %}


{% endblock %}

{% block season_info %}
	{% if season %}
		<h5>Season: {{ season }}</h5>
	{% elif seasons %}
		<h5>Seasons: {{ seasons }}</h5>
	{% endif %}

	{% if episodes %}
		<h5>Episodes: {{ episodes|length }}</h5>
		<table style="border: 1px solid white">
			<tr style="border: 1px solid white">
				<th class="ep-border">Episode Number</th>
				<th class="ep-border">Episode Name</th>
				<th class="ep-border">Match Found?</th>
			</tr>
			{% for episode in episodes %}
				<tr class="ep-border">
					<td class="ep-border">{{ episode.ep_num }}</td>
					<td class="ep-border">{{ episode.ep_name }}</td>
					{% if episode.match_found %}
						<td class="w3-pale-yellow ep-border">{{ episode.match_found }}</td>
					{% else %}
						<td class="w3-pale-blue ep-border">{{ episode.match_found }}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}

{% block episode_info %}

	{% if episode %}
		<h5>Episode: {{ episode }}</h5>
	{% elif episode_count %}
		<h5>Episodes: {{ episode_count }}</h5>
	{% endif %}

{% endblock %}

{% block warning_block %}

	{% if match_error %}
		<div class="warning w3-pale-red">
			<p class="warning">{{ match_error }}</p>
		</div>
	{% elif warning %}
		<div class="warning w3-pale-yellow">
			<p class="warning">{{ warning }}</p>
		</div>
	{% elif message %}
		<div class="warning w3-pale-blue">
			<p class="warning">{{ message }}</p>
		</div>
	{% endif %}

{% endblock %}

{% block form_table %}
	{% for field in form %}
		<tr>
			<td>{{ field.label_tag }} {{ field }}</td>
		</tr>
	{% empty %}
		<p>none</p>
	{% endfor %}
{% endblock %}
