<html>
  <body>
    <table>
      <tr>
        <td>Single Start</td>
        <td>{{ single_start }}</td>
      </tr>
      <tr>
        <td>Single Finish</td>
        <td>{{ single_finish }}</td>
      </tr>
      <tr>
        <td>Multi Start</td>
        <td>{{ multi_start }}</td>
      </tr>
      <tr>
        <td>Multi Finish</td>
        <td>{{ multi_finish }}</td>
      </tr>
      <tr>
        <td>Single Time</td>
        <td>{{ single_time }}</td>
      </tr>
      <tr>
        <td>Multi Time</td>
        <td>{{ multi_time }}</td>
      </tr>
    </table>
  </body>
</html>
